*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	width: 100%;
	height: 100%;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	background-repeat: no-repeat;
	animation: change 10s ease-in-out infinite;
}

#particles-js{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
#first{
	border: 3px solid #fff;
	margin: 120px 120px;
	padding: 100px 50px 50px 50px;
	text-align: center;
	
}
.tOne{
	font-family: arial;
	font-size: 6rem;
	letter-spacing: 2px;
	
}
.tTwo{
	margin: 50px 0px;
	font-size: 3rem;
}
@keyframes change{
	0%{
		background-position: 0 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0 50%;
	}
}